<form [formGroup]="companyProfile" (ngSubmit)="onSubmitForm()">
  <mat-form-field appearance="fill">
    <mat-label>Nom de la Société</mat-label>
    <input matInput type="text" formControlName="name" />
    @if (companyProfile.controls.name.errors &&
    companyProfile.controls.name.errors.required) {
    <mat-error>Le nom de la société est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Emails des contacts (séparés par des virgules)</mat-label>

    <input matInput type="text" formControlName="email" />
    @if (companyProfile.controls.email.errors &&
    companyProfile.controls.email.errors.required) {
    <mat-error>Vous devez absolument définir au moins un email</mat-error>
    } @if (companyProfile.controls.email.errors &&
    companyProfile.controls.email.errors.emails) {
    <mat-error>Vos emails ne sont pas valides</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Numéro de téléphone</mat-label>

    <input matInput type="tel" formControlName="tel" />
    @if (companyProfile.controls.tel.errors &&
    companyProfile.controls.tel.errors.required) {
    <mat-error>Le numéro de téléphone est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Partenariat</mat-label>
    <select matNativeControl formControlName="sponsoring">
      @for (option of options; track option) { @if (option.enabled) {
      <option [value]="option.value">{{ option.label }}</option>
      } }
    </select>
    @if (companyProfile.controls.sponsoring.errors &&
    companyProfile.controls.sponsoring.errors.required) {
    <mat-error>Le pack de sponsoring est obligatoire</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label
      >Partenariat de second choix (si votre premier choix n'est plus
      disponible)</mat-label
    >
    <select matNativeControl formControlName="secondSponsoring">
      <option value="">Je ne suis pas intéressé</option>
      @for (option of options; track option) { @if (option.enabled &&
      companyProfile.controls.sponsoring.value !== option.value) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
      } }
    </select>
  </mat-form-field>
  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="!companyProfile.valid || submitted"
  >
    Submit
  </button>
</form>
