<div class="file-bloc">
  <mat-form-field class="full-width">
    <mat-label>Sponsoring</mat-label>
    <select matNativeControl required [(ngModel)]="choice">
      <option [value]="company?.sponsoring">{{ company?.sponsoring }}</option>
      <option [value]="company?.secondSponsoring">
        {{ company?.secondSponsoring }}
      </option>
    </select>
  </mat-form-field>
</div>

<br />

<div class="inline-bloc">
  <button mat-raised-button color="primary" (click)="updateSponsoring()">
    <mat-icon>save</mat-icon>
    Sauvegarder
  </button>
  @if (company?.status?.validated !== 'done') {

  <button mat-raised-button color="primary" (click)="setKo()">
    <mat-icon>send</mat-icon>
    Envoyer un email de refus
  </button>
  }
</div>
