rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /companies-2023/{companyId} {
      allow list, update: if isAdministrator() || notUpdating('name');
      allow create, get: if true;
    }
    match /companies-2025/{companyId} {
      allow list, update: if isAdministrator() || notUpdating('name');
      allow create, get: if true;
    }
    match /workflows/{workflowId} {
      allow list: if true;
      allow get: if true;
    }
    match /configuration/{configurationId} {
      allow get: if true;
      allow update: if isAdministrator();
    }
  }
}

function notUpdating(field) {
 return !(field in request.resource.data)
  || resource.data[field] == request.resource.data[field]
}
function isOwner(companyId) {
    return request.auth.token.email in resource.data.email;
}
function isAdministrator() {
    return request.auth.token.email.matches(".*@cloudnord.fr")
}