rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  		match /logo {
     		match /{allPaths=**} {
      		allow read: if true;
    		}
    		match /{imageId} {
       		allow write: if request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
     		}
  		}
		match /video {
     		match /{allPaths=**} {
      		allow read: if true;
    		}
    		match /{imageId} {
       		allow write: if request.resource.size < 500 * 1024 * 1024;
     		}
  		}
      match /facture {
     		match /{allPaths=**} {
        	allow read: if true;
      		allow write: if isAdministrator();
    		}
  		}
      match /flyers {
     		match /{allPaths=**} {
        	allow read: if true;
      		allow write: if isAdministrator();
    		}
  		}
      match /devis {
     		match /{allPaths=**} {
      		allow read: if true;
      		allow write: if isAdministrator();
    		}
  		}
      match /conventionSigned {
     		match /{allPaths=**} {
        	allow read: if true;
      		allow write: if true;
    		}
  		}
      match /signed {
     		match /{allPaths=**} {
        	allow read: if true;
      		allow write: if true;
    		}
  		}
      match /convention {
     		match /{allPaths=**} {
        	allow read: if true;
      		allow write: if isAdministrator();
    		}
  		}
      
  }
}
function isAdministrator() {
    return request.auth.token.email.matches(".*@devlille.fr")
}
