<div class="inline-bloc">
  <mat-form-field appearance="fill">
    <mat-label>URL Billetweb</mat-label>
    <input matInput type="text" [(ngModel)]="company.billetWebUrl" />
  </mat-form-field>
</div>
<div class="inline-bloc">
  <mat-form-field appearance="fill">
    <mat-label>Identifiant WeLoveDevs</mat-label>
    <input matInput type="text" [(ngModel)]="company.wldId" />
  </mat-form-field>
</div>
<div class="inline-bloc">
  <mat-form-field appearance="fill">
    <mat-label>Activités sur le Stand</mat-label>
    <textarea
      [(ngModel)]="company.activities"
      matInput
      maxlength="280"
    ></textarea>
  </mat-form-field>
</div>

<div class="inline-bloc">
  <button color="primary" mat-raised-button (click)="updateBilletwebUrl()">
    <mat-icon>save</mat-icon>
    Sauvegarder
  </button>
  <button color="primary" mat-raised-button (click)="updateBilletwebDone()">
    <mat-icon>confirmation_number</mat-icon>

    Places Récupérées
  </button>
</div>
