@if (workflow) {
<mat-accordion multi>
  @for (step of workflow.steps; track step) {
  <mat-expansion-panel
    [disabled]="false && step.state !== 'done' && step.state !== 'pending'"
    [expanded]="step.state === 'pending'"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i
          [ngClass]="{
            fas: true,
            'fa-check-circle': step.state === 'done',
            'fa-tasks': step.state === 'pending'
          }"
        ></i>
        {{ step.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <cms-panel-item
      [step]="step"
      [id]="id!"
      [company]="partner"
    ></cms-panel-item>
  </mat-expansion-panel>
  }
</mat-accordion>
} @if (isLoading) {
<cms-loader></cms-loader>
}
