@if (companySignal().status?.communicated === 'pending') {
  <p>
    L'équipe est en train de programmer la communication sur les réseaux sociaux.
    @if (companySignal().publicationDate) {
      La date de publication est prévue pour le
      {{ companySignal().publicationDate | date }}
    }
  </p>
}
@if (companySignal().status?.communicated === 'done') {
  <p>
    L'équipe a publié la communication sur les réseaux sociaux le
    {{ companySignal().publicationDate | date }}
  </p>
}

@if (companySignal().flyerUrl) {
  <cms-files [files]="files()"></cms-files>
}
