@if (company?.status?.validated !== 'done') {

<p>
  Etant donné la forte affluence des demandes de partenariat, nous reviendrons
  vers vous par email dans une dizaine de jours maximum pour vous valider la
  réservation du pack <strong>{{ company?.sponsoring }}</strong> ou de votre
  choix de pack sponsor de replis le cas échéant.
</p>

} @if (company?.status?.validated === 'done') {

<p>
  Bonne nouvelle ! Votre demande de pack
  <strong>{{ company?.sponsoring }}</strong> pour le Devfest Lille 2024 a été
  validé.
</p>
<p>
  Veuillez remplir dans l'étape suivante les informations qui seront utilisées
  pour la génération de la convention et de la facture.
</p>

}
