@if (companySignal().conventionSignedUrl) {
  <p>
    Vous trouverez ci-dessous la convention et le devis relatifs à notre partenariat.
    <cms-files [files]="files.value()"></cms-files>
  </p>
}

<div class="inline-bloc">
  @if (!companySignal().conventionSignedUrl || isAdmin()) {
    <cms-upload (uploadFile)="uploadConvention($event)" [isEnable]="" accept=".pdf" label="Convention"> Envoyer la convention signée </cms-upload>
  }
  @if (isAdmin()) {
    @if (companySignal().status?.[stepSignal().key] !== 'done') {
      <button mat-raised-button color="primary" (click)="setDone()">
        <mat-icon>done</mat-icon>
        Valider cette étape
      </button>
    }
  }
</div>
