#container {
  flex-direction: row;
  display: flex;
  width: 95%;
  margin: auto;
  gap: 1em;
}

cms-dashboard-filter {
  width: 33%;
}

#main {
  width: 66%;
}

mat-radio-button {
  margin-right: 1em;
}

tr.need-some-work {
  background: beige;
}

.mat-mdc-card {
  position: relative;
  margin: 1em 0;
  padding: 1em;
}

#copy,
#public,
#relance {
  margin-bottom: 1em;
}
