mat-radio-button {
  margin-right: 1em;
}

tr.need-some-work {
  background: beige;
}

.mat-mdc-card {
  position: relative;
  margin: 1em 0;
  padding: 1em;
}

mat-button-toggle-group {
  display: flex;
  margin-bottom: 1em;
  mat-button-toggle {
    flex: 1;
  }
}
