.social-container {
  .social-container-row {
    margin-top: 2em;
    display: flex;
    gap: 2em;
    > * {
      flex: 0 0 50%;
    }

    div {
      > * {
        margin-top: 1em;
      }
    }
  }
}
.social-fields {
  display: flex;
  flex-direction: column;
}
