<div class="social-container">
  <div class="social-container-row">
    <p>
      Vous pouvez uploader le logo de votre société au format svg, et si
      possible avec un fond transparent. Il sera utilisé par l'équipe du Devfest
      Lille pour créer le flyer qui sera publier sur les réseaux sociaux ainsi
      que sur le site web.
    </p>
    <div>
      <cms-upload
        (uploadFile)="upload($event)"
        [isEnable]=""
        accept=".svg"
        label="Logo (*.svg)"
        >Choisir un logo</cms-upload
      >
      <cms-files [files]="files"></cms-files>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="social-container-row">
    <p>
      Vous pouvez également nous indiquer le message que vous souhaitez voir
      publier sur les réseaux sociaux. Si vous n'avez pas d'imagination, vous
      pouvez laisser l'équipe du Devfest Lille le faire pour vous. Dans ce cas,
      seules les informations liées à vos profils LinkedIN et Twitter nous sont
      utiles.
    </p>
    <div class="social-fields">
      @if (company.sponsoring !== 'Bronze' && company.sponsoring !== 'Party') {
      <mat-checkbox [(ngModel)]="company.keepDevFestTeam"
        >Laissez l'équipe du Devfest écrire vos messages!</mat-checkbox
      >
      }
      <mat-form-field class="full-width">
        <input
          matInput
          type="text"
          aria-label="Compte Twitter"
          placeholder="Compte Twitter"
          [(ngModel)]="company.twitterAccount"
        />
      </mat-form-field>
      @if (company.sponsoring !== 'Bronze' && company.sponsoring !== 'Party') {
      <mat-form-field class="full-width">
        <textarea
          [(ngModel)]="company.twitter"
          matInput
          placeholder="Message Twitter"
          maxlength="280"
        ></textarea>
      </mat-form-field>
      }
      <mat-form-field class="full-width">
        <input
          matInput
          type="text"
          aria-label="Compte LinkedIn"
          placeholder="Compte LinkedIn"
          [(ngModel)]="company.linkedinAccount"
        />
      </mat-form-field>
      @if (company.sponsoring !== 'Bronze' && company.sponsoring !== 'Party') {
      <mat-form-field class="full-width">
        <textarea
          [(ngModel)]="company.linkedin"
          matInput
          placeholder="Message LinkedIN"
        ></textarea>
      </mat-form-field>
      }
    </div>
  </div>
  <div class="social-container-row">
    <p>
      Vous pouvez également indiquer une petite description de votre société.
      Cette information sera utilisée par l'application mobile du Devfest Lille.
    </p>
    <div class="social-fields">
      <mat-form-field class="full-width">
        <textarea
          [(ngModel)]="company.description"
          matInput
          placeholder="Description"
          maxlength="280"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="inline-bloc">
  <button color="primary" mat-raised-button (click)="update()">
    <mat-icon>save</mat-icon>
    Sauvegarder
  </button>
</div>
